@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Slider before */
  .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .3s;
  }
  
  /* When the switch is checked */
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  /* moving the slider when checked */
  input:checked + .slider::before {
    transform: translateX(26px);
  }
  